<p>Male Female Task!</p>
<div class="container">
  <div class="row">
    <div class="col-md">
      <button
        type="button"
        class="btn btn-danger"
        (click)="gender = Male"
        [disabled]="gender == Male"
      >
        Male
      </button>

      <button
        type="button"
        class="btn btn-primary"
        (click)="gender = Female"
        [disabled]="gender == Female"
      >
        Female
      </button>
    </div>
  </div>
  <div *ngIf="gender">
    <img src="{{ gender.imgUrl }}" />
    <h3>{{ gender.name }}</h3>
  </div>
  <i
    class="fa fa-heart fa-2x"
    (click)="likeHeart()"
    [style.color]="islike ? 'red' : ''"
    [class.fa-heart-o]="!islike"
  ></i>
</div>
