.first-name {
  margin-bottom: 5px;
}
.last-name {
  margin-bottom: 5px;
}
.pass-word {
  margin-bottom: 5px;
}
.email-id {
  margin-bottom: 5px;
}
.mobile-no {
  margin-bottom: 5px;
}
.address {
  margin-bottom: 5px;
}

.gender {
  margin-bottom: 5px;
}
