<p>user-registration works!</p>

<div class="container form-group">
  <div class="row">
    <div class="col-md-8" style="margin-top: 10px">
      <form [formGroup]="Register" (ngSubmit)="Save(Register.value)">
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname.
          </div>
        </div>
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname.
          </div>
        </div>
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname.
          </div>
        </div>
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname.
          </div>
        </div>
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname.
          </div>
        </div>
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname.
          </div>
        </div>
        <div formGroupName="UserRegister">
          <input
            type="text"
            class="form-control"
            placeholder="enter firstname"
            formControlName="FirstName"
            [class.is-valid]="
              Register.controls.UserRegister.controls.FirstName.valid
            "
            [class.is-invalid]="
              !Register.controls.UserRegister.controls.FirstName.valid &&
              submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a firstname
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
