<div class="container">
  <div class="row">
    <div class="col-md-8" style="margin-top: 10px">
      <form [formGroup]="Login" (ngSubmit)="Save(Login.value)">
        <div class="form-group" formGroupName="UserLogin">
          <input
            type="text"
            class="form-control"
            placeholder="enter username"
            formControlName="UserName"
            [class.is-valid]="Login.controls.UserLogin.controls.UserName.valid"
            [class.is-invalid]="
              !Login.controls.UserLogin.controls.UserName.valid && submitted
            "
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
        <div class="form-group" formGroupName="UserLogin">
          <input
            type="password"
            class="form-control"
            placeholder="enter password"
            formControlName="Password"
            [class.is-valid]="Login.controls.UserLogin.controls.Password.valid"
            [class.is-invalid]="
              !Login.controls.UserLogin.controls.Password.valid && submitted
            "
          />
          <div class="valid-feedback">
            cool password:)!
          </div>
          <div class="invalid-feedback">
            bad password men...........:(
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-md">Submit</button>
        <button
          type="signup"
          class="btn btn-danger btn-md"
          style="margin-left: 10px"
          routerLink="/UserRegistrationComponent"
        >
          Signup
        </button>
      </form>
    </div>
  </div>
</div>
