<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">NavBar</a>
  <div class=" navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home" style="color: white"> Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/Login" style="color: white">Login</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/Signup" style="color: white"
          >Register</a
        >
      </li>
    </ul>
  </div>
</nav>
